{{#each values as |values|}}
<section class="dashboard">
    <div class="animate__animated animate__fadeInUp animate__delay-1s card">
    <div class="content">
    <div><img src="../public/css/images/dish.jpg" class="dish"></div>
      <div>
        <a href="/locales/{{locales.id}}"><h2>{{locales.name}}</h2></a>
        <p>{{ values.[0].username }}</p>
      </div>
    </div>
    </div>
</section>  
{{/each}}