<div class="form-flex animate__animated animate__fadeInUp">
    <div class="form-box frame">
    <h2>Login</h2>

    <form class="form">
        <label class="form-text"> Username: </label>
        <input type="text" class="form-input">
        <label class="form-text"> Password: </label>
        <input type="password" class="form-input">
        <button type="submit" class="form-btn">login</button>
    </form>
    </div>

    <div class="form-box frame">
    <h2>Signup</h2>

    <form class="form">
        <label class="form-text"> Email: </label>
        <input type="text" class="form-input">
        <label class="form-text"> Username:</label>
        <input type="text" class="form-input">
        <label class="form-text"> Password: </label>
        <input type="password" class="form-input">
        <button type="submit" class="form-btn">signup</button>
    </form>
    </div>
</div>