<div class="form-flex">
    <div class="form-box">
        <h2>Login</h2>
        <form class="form">
        <label> Username: </label>
        <input type="text">
        <label> Password: </label>
        <input type="password">
        <button type="submit">login</button>
        </form>
    </div>

    <div class="form-box">
        <h2>Signup</h2>
        <form class="form">
        <label> Email: </label>
        <input type="text">
        <label> Username:</label>
        <input type="text">
        <label> Password: </label>
        <input type="password">
        <button type="submit">signup</button>
        </form>
    </div>
</div>